<div class="p-6 max-w-lg mx-auto bg-white/30 border-b border-white/20 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-6 text-center">Resumen de la Reserva</h1>

    <div class="mb-4">
        <p class="text-lg"><strong class="text-gray-200">Fecha: </strong> <span class="text-gray-200/70">{{ fecha }}</span>
        </p>
    </div>
    <div class="mb-4">
        <p class="text-lg"><strong class="text-gray-200">Hora: </strong> <span class="text-gray-200/70">{{ hora }}</span>
        </p>
    </div>
    <div class="mb-4">
        <p class="text-lg"><strong class="text-gray-200">Nombre: </strong> <span class="text-gray-200/70">{{ nombre
                }}</span></p>
    </div>
    <div class="mb-4">
        <p class="text-lg"><strong class="text-gray-200">Correo: </strong> <span class="text-gray-200/70">{{ correo
                }}</span></p>
    </div>
    <div class="mb-4">
        <p class="text-lg"><strong class="text-gray-200">Teléfono: </strong> <span class="text-gray-200/70">{{ telefono
                }}</span></p>
    </div>

    <button (click)="confirmarReserva()"
        class="mt-6 w-full bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300 ease-in-out">
        Confirmar
    </button>
</div>