<nav class="fixed top-0 left-0 right-0 z-50 backdrop-blur-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex-shrink-0">
                <button routerLink="/" class="text-white-500 font-semibold text-lg">
                    Dochmart 👷🚛
                </button>
            </div>
            <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                    <button routerLink="/historial"
                        class="text-gray-200 hover:bg-gray-700 hover:text-white transition duration-300 ease-in-out px-3 py-2 rounded-full text-sm font-medium">
                        Historial
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>